{% extends "::base.html.twig" %}

{% block title %}Taverne{% endblock %}

{% block body %}
<h1>Creer un hero </h1>
<div class="well">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
{% endblock %}
