{% extends "::base.html.twig" %}

{% block title %}Taverne{% endblock %}
{% block body %}
<div class="jumbotron"> <h1>Taverne</h1></div>
<h3>
   Bienvenue, vous pouvez choisir un Hero, créer un Hero, ou boire un peu
hydromiel.</h3>
<div class="container-fluid">
  <a href="/choisirUnHero"> Selection Hero</a>
  <a href="/creerUnHero"> Creer dès maintenant un Hero</a>
</div>
{% endblock %}
